.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91vw;
  height: 20vh;
  margin-left: 9vw;
  padding: 0 3rem;
  background-color: #181716;
  color: white;
  font-size: 0.8rem;
}

.footer .footer__location {
  display: flex;
  flex-direction: column;
}

.footer .footer__location .footer__phone {
  padding-top: 0.3rem;
  color: rgb(95, 95, 95);
}

.footer .footer__navigation {
  display: flex;
}

.footer .footer__navigation > * {
  padding-left: 2rem;
  cursor: pointer;
}
