.header {
    height: 100vh;
    width: 9vw;
    padding: 4rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-right: rgb(224, 224, 224) 1px solid;
}

.header .header__navigation {
    font-weight: 900;
    font-size: 1.2rem;
    position: relative;
    bottom: -4rem;
}

.header .header__navigation .header__menu {
    cursor: pointer;
}

.header .header__text {
    font-weight: 500;
    font-size: 1.1rem;
}

.header .header__text span:nth-child(2) {
    color : #FFDF40;
    font-weight: 700;
}

.header .header-rotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
