.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 9vw;
  height: 100vh;
  padding: 4rem 1rem;
  border-right: rgb(224, 224, 224) 1px solid;
  background-color: white;
}

/* ------ logo ------ */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  font-weight: 500;
}

.logo > * {
  cursor: pointer;
}

.logo-bar {
  font-size: 3.5rem;
  color: #ffdf40;
  transform: rotate(170deg);
}

.logo-w {
  position: relative;
  top: -1.5rem;
}

/* ------ navigation ------ */
.header .header__navigation {
  position: relative;
  bottom: -4rem;
  font-weight: 900;
  font-size: 1.2rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.header .header__navigation .header__menu {
  cursor: pointer;
}

/* ------ text ------ */
.header .header__text {
  font-weight: 500;
  font-size: 1.1rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.header .header__text span:nth-child(2) {
  color: #ffdf40;
  font-weight: 700;
}
