main {
  padding-left: 9vw;
  padding-bottom: 10vh;
}

/* ----- grid-container ----- */
main .grid-container {
  display: grid;
  grid-template-columns: repeat(9, calc((98.5vw - 9vw) / 9 - 1.5vw));
  grid-template-rows: repeat(22, calc((98.5vw - 9vw) / 9 - 1.5vw));
  gap: 1.5vw;
  width: 100%;
  padding-left: 1.5vw;
}

/* ----- grid__content ----- */
.grid-container .grid__content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* -----content__img----- */
.grid__content .content__img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.grid__content:hover .content__img {
  transition: transform ease-in-out 0.3s;
  transform: scale(1.2, 1.2);
}

/* -----content__label----- */
.grid__content .content__label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  padding: 0.7rem 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  writing-mode: vertical-lr;
  background-color: white;
  transform: rotate(180deg);
}

/* -----content__preview----- */
.grid__content .content__preview {
  display: none;
}

.grid__content .content__preview .content__subtitle {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}

.grid__content .content__preview .content__title {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(165, 165, 165);
  text-transform: uppercase;
}

.grid__content:hover .content__preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 7rem;
  background-color: rgb(0, 0, 0);
  text-align: center;
  opacity: 85%;
  animation: hidden 0.4s linear;
  cursor: url(../src/images/cursor.cur), auto;
}

@keyframes hidden {
  0% {
    display: none;
    opacity: 40%;
  }
  50% {
    display: flex;
    opacity: 70%;
  }
  100% {
    display: flex;
    opacity: 85%;
  }
}

/* -----content--1st----- */
.grid__content--1st {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  padding: 3rem;
  background-color: #ffdf40;
}

.grid__content--1st .content__title {
  font-weight: 900;
  font-size: 4rem;
}

.grid__content--1st .content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 8px 6px 20px 2px rgb(236, 207, 58);
  font-size: 1.5rem;
  transition: all 0.5s;
  transition-delay: 0.1s;
}

.grid__content--1st:hover .content__btn {
  transition: transform ease-in-out 0.3s;
  transform: scale(1.2, 1.2);
}

.grid__content--1st:hover .content__btn .btn-arrow {
  transition: transform ease-in-out 0.1s;
  transform: translateX(45px);
}

/* -----content--2nd----- */
.grid__content--2nd {
  grid-column: 5 / span 5;
  grid-row: 2 / span 4;
}

/* -----content--3rd----- */
.grid__content--3rd {
  grid-column: 2 / span 3;
  grid-row: 5 / span 3;
}

/* -----content--4th----- */
.grid__content--4th {
  grid-column: 1 / span 4;
  grid-row: 8 / span 2;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 900;
  text-align: right;
}

.grid__content--4th .content__subtitle {
  padding-top: 2rem;
  color: #ffdf40;
}

/* -----content--5th----- */
.grid__content--5th {
  grid-column: 5 / span 4;
  grid-row: 6 / span 4;
}

/* -----content--6th----- */
.grid__content--6th {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / span 3;
  grid-row: 10 / span 4;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}

.grid__content--6th .content__title {
  padding-bottom: 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(161, 161, 161);
  line-height: 1rem;
  text-transform: uppercase;
}

.grid__content--6th .content__subtitle {
  padding: 0 2rem 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 900;
}

.grid__content--6th .content--circle {
  overflow: hidden;
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 20rem;
  background-color: #ffdf40;
  transform: rotate(-30deg);
}

.grid__content--6th .content--circle .arrow {
  position: absolute;
  font-size: 20vw;
  transition: all 0.4s;
}

.grid__content--6th .content--circle .arrow-right {
  top: -3.2rem;
  left: -1.7rem;
}

.grid__content--6th .content--circle .arrow-left {
  top: 3.2rem;
  right: -1.7rem;
}

.grid__content--6th:hover .content--circle .arrow-right {
  transition: transform ease-in-out 0.4s;
  transform: translateX(1.8rem);
}

.grid__content--6th:hover .content--circle .arrow-left {
  transition: transform ease-in-out 0.4s;
  transform: translateX(-1.8rem);
}

/* -----content--7th----- */
.grid__content--7th {
  grid-column: 4 / span 4;
  grid-row: 10 / span 4;
}

/* -----content--8th----- */
.grid__content--8th {
  grid-column: 2 / span 3;
  grid-row: 14 / span 3;
}

/* -----content--9th----- */
.grid__content--9th {
  grid-column: 5 / span 2;
  grid-row: 14 / span 2;
}

/* -----grid__news----- */
.grid__news {
  padding: 2rem;
  background-color: rgb(245, 245, 245);
}

.grid__news .news__header {
  padding-bottom: 0.5rem;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.grid__news .news__title {
  font-size: 1.8rem;
  font-weight: 700;
  word-break: normal;
  word-wrap: break-word;
}

/* -----content--10th----- */
.grid__content--10th {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-column: 7 / span 2;
  grid-row: 14 / span 2;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #ffdf40;
}

.grid__content--10th .content__subtitle {
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 900;
}

.grid__content--10th .content__title {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.grid__content--10th .content__number {
  display: flex;
  align-items: center;
  position: relative;
  top: -0.5rem;
}

.grid__content--10th .content__number .number-left {
  font-size: 10em;
  font-weight: 900;
}

.grid__content--10th .content__number .number-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 5rem;
  height: 7.3rem;
  border-radius: 50%;
  background-color: black;
  color: #ffdf40;
  font-weight: 700;
  font-size: 2rem;
}

/* -----content--11th----- */
.grid__content--11th {
  grid-column: 5 / span 5;
  grid-row: 16 / span 4;
}

/* -----content--12th----- */
.grid__content--12th {
  grid-column: 1 / span 4;
  grid-row: 17 / span 4;
}

/* -----content--13th----- */
.grid__content--13th {
  grid-column: 5 / span 3;
  grid-row: 20 / span 3;
}

/* -----content--14th----- */
.grid__content--14th {
  grid-column: -3 / span 2;
  grid-row: 20 / span 2;
}
