@charset "UTF-8";
@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* ------logo------ */
.logo {
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo--bar {
    font-size: 3.5rem;
    color : #FFDF40;
    transform: rotate(170deg);
}

.logo--w {
    position: relative;
    top: -1.5rem;
}


/* 반응형 */

/* 1280px 아하 */
@media (max-width: 1280px) {
    html {
        font-size: 12px;
    }
    .grids .grid__content--6th .ellipse .ellipse__icon-right {
        top:-3.7rem;
        left: -1.7rem;
    }
    
    .grids .grid__content--6th .ellipse .ellipse__icon-left {
        top: 3.7rem;
        right: -1.7rem;
    }
}

/* 991px 아하 */
@media (max-width: 991px) {
    html {
        font-size: 10px;
    }
    .grids .grid__content--1st .title {
        font-size: 3.7rem;
    }
    .grids .grid__content--4th {
        font-size: 3.7rem;
    }
    .grids .grid__content--4th .subtitle {
        padding-top: 1.7rem;
    }
    .grids .grid__content--6th .ellipse {
        width: 18vw;
        height: 18vw;
    }
    .grids .grid__content--6th .ellipse .ellipse__icon {
        font-size: 17vw;
        position: absolute;
        transition : all 0.4s;
    }
    .grids .grid__content--6th .ellipse .ellipse__icon-right {
        top:-3rem;
        left: -1rem;
    }
    .grids .grid__content--6th .ellipse .ellipse__icon-left {
        top: 3rem;
        right: -1rem;
    }
    .grids .grid__content--6th:hover .ellipse__icon-right {
        transform: translateX(1.1rem);
    }
    .grids .grid__content--6th:hover .ellipse__icon-left {
        transform: translateX(-1.1rem);
    }
}

/* 태블릿 */
@media (max-width: 768px) {
    .header {
        padding : 0 2vw;
        height: 12vh;
        width: 100vw;
        border: none;
        z-index: 200;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .header .header-rotate {
        writing-mode: inherit;
        transform: none;   
    }
    .header .header__navigation {
        position: static;
        order: -1;
        display: flex;
        justify-content: center;
    }
    .header .header__text {
        display: none;
    }
    main {
        padding : 12vh 0 10vh 0;
    }
    main .grids {
        padding: 0 1.5vw;
        width: 100%;
        display: flex;
        flex-direction: column;
    } 
}

/* 모바일 - iphone X  */
@media (max-width: 375px) {

}